/*Tag Selector*/

/**/
.search_frame{
    text-align: center;
    box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
    margin-bottom: 10px;
}
.slogn_block{
    padding:30px 24px 20px 24px;
}
.slogn_content{
    font: 400 44px/52px Google Sans,sans-serif;
}
.search_field{
    width:60%; 
    border: 0;
    background-color: #f7f7f7;
    color: rgba(0,0,0,.54);
    height: 36px;
    padding: 2px 8px 2px 72px; 
    border-radius: 2px;
    font: 16px/20px Roboto,sans-serif;
    margin-bottom: 55px;
}